p.line {
    font-size: 36px;
}

input[type="number"] {
    width: 50px;
}

div.debug {
    margin-top: 50px;
    text-size: 11px;
    text-color: gray;
}

.haiku-status-good {
    color: green;
    font-weight: bold;
}

.haiku-status-bad {
    color: red;
    font-weight: bold;
}

div.input-group {
    margin-top: 5px;
}

div.terms {
    border-left: 1px dotted;
}

ul {
    list-style-type: none;
}
